/* Webfont: Wildworld */@font-face {
    font-family: 'WildWorld';
    src: url('font/WILDWORLD.otf'); /* IE9 Compat Modes */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Thunder-BlackLC */@font-face {
    font-family: 'Thunder';
    src: url('font/Web-TT/Thunder-LC.ttf'); /* IE9 Compat Modes */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
  }

body {
    position: relative;
    min-height: 100%;
    background-color: rgb(6, 6, 6);
}


h1 {
    font-family: WildWorld;
    padding: 20px;
    color: white;
    font-size: 25px;
    
}

h5 {
    color: white;
    font-size: 15px;
    font-weight: 100;
}

h2 {
    color: white;
    font-family: Thunder;
    font-size: 30;
}




.navbar {
    padding-top: 0px;
    background-image: linear-gradient(rgb(6, 6, 6) 60%, rgba(6, 6, 6, 0.651) 80%, rgba(6, 6, 6, 0.027) 100%)
}

.navbar-brand {
    font-family: WildWorld;
    font-size: 40pt;
    color: white !important;
    padding: 0px;
    border-bottom: 1px solid white;
    padding-top: 0px;
    padding-left: 80px;
    padding-right: 80px;
    text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12, 0.9);
    animation: chromaticMove 50ms ease infinite,  infinite;
}

@keyframes chromaticMove { 
    0%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12,0.9);}
    50%{text-shadow: -2px -1px 3px rgba(251, 12, 12,0.9), -2px 1px 4px rgba(0, 72, 255, 1), 2px 1px 3px rgba(52, 251, 12,0.9);}
    100%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12,0.9);}
}

.nav-link {
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 30px;
    color: white;
    font-family: Thunder;
    font-size: 25px;
}

.nav-link:hover {
    color: white;
    text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12, 0.9);
    animation: chromaticMoveNavHover 50ms ease infinite,  infinite;
}

@keyframes chromaticMoveNavHover { 
    0%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12,0.9);}
    50%{text-shadow: -2px -1px 3px rgba(251, 12, 12,0.9), -2px 1px 4px rgba(0, 72, 255, 1), 2px 1px 3px rgba(52, 251, 12,0.9);}
    100%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12,0.9);}
}

.nav-link.active {
    text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12, 0.9);
    animation: chromaticMoveActive 50ms ease infinite,  infinite;
}

@keyframes chromaticMoveActive { 
    0%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12,0.9);}
    50%{text-shadow: -2px -1px 3px rgba(251, 12, 12,0.9), -2px 1px 4px rgba(0, 72, 255, 1), 2px 1px 3px rgba(52, 251, 12,0.9);}
    100%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.9), 2px -1px 3px rgba(0, 72, 255, 1),-2px -1px 2px rgba(52, 251, 12,0.9);}
}




.flex-column {
    max-width: 33%;
    padding: 6px;
  }

img {
    margin: 0px;
    
  }

video {
    margin: 0px;
    height: 100%;
    width: 100%;
}


  .img-overlay {
    position: relative;
    max-width: 500px;
    margin: 6px;
    box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);
    animation: chromaticMoveBox 50ms ease infinite,  infinite;;
}


@keyframes chromaticMoveBox { 
    0%{box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
    50%{box-shadow: -2px -1px 3px rgba(251, 12, 12,0.7), -2px 1px 4px rgba(0, 72, 255, 0.6), 2px 1px 3px rgba(52, 251, 12, 0.7);}
    100%{box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
}

.project-overlay {
    position: absolute;
    top: 0px;
    left: 0px ;
    width: 100%;
    height: 100%;
    background-color: rgb(161, 161, 161);
    color: #fff;
    background-image: url('img/lock.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}

.project-overlay-cleared {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px ;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}

.text {
    color: white;
}

button img, svg {
    height: 20px;
    margin: 5px;
    top: 0px !important;
}

button, .position-absolute{
    right: 0px;
}

button {
    border: none !important;
}

.btn-close, .p-3 {
    padding: 0px !important;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
    max-height: 85vh;
}

.carousel-item img {
    width: auto !important;
    max-height: 85vh;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
}

.carousel-item iframe {
    height: 85vh;
    margin: 0 auto;
    width: 100% !important;
    padding-right: 40px;
    padding-left: 40px;
}

.ratio {
    background-color: transparent !important;
}

.spinner-border {
    display: none;
}




footer {
    position: absolute;
    width: 100%;
    bottom: 0px;

}

.logo-wrap {
    display: inline;
    float: right;
}

.logo-wrap a {
    padding-right: 5px;
    padding-left: 5px;
}

.logo {
    margin-top: 10px;
    height: 30px;
}

/* artists page */

.pf-pic {
    border-radius: 50%/50%; 
    max-width: 200px;
    max-height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.name {
    color: white;
    font-family: Thunder;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.trigger:hover .row .pf-pic {
    box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);
    animation: chromaticMoveArtist 50ms ease infinite,  infinite;;
}

@keyframes chromaticMoveArtist { 
    0%{box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
    50%{box-shadow: -2px -1px 3px rgba(251, 12, 12,0.7), -2px 1px 4px rgba(0, 72, 255, 0.6), 2px 1px 3px rgba(52, 251, 12, 0.7);}
    100%{box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
}

.trigger:hover .row .name {
    text-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);
    animation: chromaticMoveName 50ms ease infinite,  infinite;;
}

@keyframes chromaticMoveName { 
    0%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
    50%{text-shadow: -2px -1px 3px rgba(251, 12, 12,0.7), -2px 1px 4px rgba(0, 72, 255, 0.6), 2px 1px 3px rgba(52, 251, 12, 0.7);}
    100%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
}

.artpic {
    box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);
    animation: chromaticMoveArtistPic 50ms ease infinite,  infinite;;
}

@keyframes chromaticMoveArtistPic { 
    0%{box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
    50%{box-shadow: -2px -1px 3px rgba(251, 12, 12,0.7), -2px 1px 4px rgba(0, 72, 255, 0.6), 2px 1px 3px rgba(52, 251, 12, 0.7);}
    100%{box-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
}


.artpage {
    text-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);
    animation: chromaticMoveArtName 50ms ease infinite,  infinite;;
}

@keyframes chromaticMoveArtName { 
    0%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
    50%{text-shadow: -2px -1px 3px rgba(251, 12, 12,0.7), -2px 1px 4px rgba(0, 72, 255, 0.6), 2px 1px 3px rgba(52, 251, 12, 0.7);}
    100%{text-shadow: 2px 1px 2px rgba(251, 12, 12,0.7), 2px -1px 3px rgba(0, 72, 255, 0.6),-2px -1px 2px rgba(52, 251, 12, 0.7);}
}


@media (max-width: 767.98px) {
    .navbar-brand {
        font-size: 35pt;
        padding-left: 60px;
        padding-right: 60px;
    }

    .nav-link {
        padding-bottom: 20px;
    }

    .flex-column {
        max-width: 50%;
      }

      h1 {
        font-size: 20px;
        
    }


    .logo {
        margin-top: 10px;
        height: 20px;
    }


}


@media (max-width: 575.98px) {
    .navbar-brand {
        font-size: 32pt;
        padding-left: 40px;
        padding-right: 40px;
    }

    .nav-link {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .flex-column {
        max-width: 100%;
      }

      h1 {
        font-size: 18px;
        
    }

    
    .modal-dialog {
        padding-top: 20px;
        max-height: 75vh;
    }

    .carousel-item img {
        width: auto !important;
        max-height: 75vh;
        margin: 0 auto;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .carousel-item iframe {
        height: 75vh;
        margin: 0 auto;
        width: 100% !important;
        padding-right: 30px;
        padding-left: 30px;
    }

    button img, svg {
        height: 15px;
        margin: 5px;
        margin-top: -5px;
        top: 0px !important;
    }
    

    h5 {
        font-size: 12px;
    }


    .pf-pic { 
        max-width: 150px;
        max-height: 150px;
    }
    
    .name {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.6px;
    }


    

}




